/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box; }  /* This wildcard applies to all elements ensuring a box layout model */

body {
  background-color: white;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;/* Declare the base font-family */

}
/* HEADER*/

header, nav, .topnav, footer { 
    display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    
    
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

picture {
    flex: 0 1 128px;
    text-align: center;
}


header picture img  {
    
    width: 100px;
    height: 100px;
    
    

}

header, section, headings, siteTitle,  { 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
 
}
.siteTitle {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 20px;
    font-size: 60px; 
    color:skyblue;
    font-family: 'Dokdo', cursive;
}
.subTitle { 
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Indie Flower', cursive; 
}





/*Bar*/

.topnav {
  display: flex;
  flex-flow: row nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  overflow: hidden;
  background-color: lightblue;
}

.topnav a {
  display: flex;
  flex-direction: row;
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 5px 5px;
  font-family: 'Shadows Into Light', cursive;
}


.topnav .active {
  background-color: deepskyblue;
  color: whitesmoke;
}
.active {
  background-color: darkblue;
  color: whitesmoke
}


.topnav a:hover {
  background-color: cadetblue;
  color: black;
}

 .topnav.responsive a {
    display: flex;
     
  }

@media screen and (max-width: 200px) {
  .topnav {flex-flow: column; justify-content: flex-start;}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: flex;
      
  }
}

@media screen and (max-width: 200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
      
    }
    
@media screen and (max-width: 200px) {
  .topnav.responsive {flex-flow: column;}
  .topnav.responsive .icon {
    flex-flow: column;
    justify-content: flex-start;
    }
  }
 
}

main .thanks {
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
    
    
    
}

/* WEATHER SUMMARY*/

.weather-summary {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    
}

div.highlow {
    display: flex;
    justify-content: center;
    font-size: 40px;
    }
div.highlow span {
    display: flex;
    justify-content: center;
}
div.conditions {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 40px;
}
div.conditions span {
    display: flex;
    justify-content: center;
   
}



main h2 {
    display: flex;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    text-align: center;
     }


main .weather-summary h3 {
    display: flex;
    justify-content: center;
    font-size: 60px
   }



main figure img {
    display: flex;
    justify-content: center;
}


table, td{border: 1px solid black; 
    background-color: lightgray;
    text-align: center;
    border-collapse: collapse; }

.forecast h4, table, thead, tbody {
    border: 1px solid black; 
    background: gray; ; 
    margin-bottom: 0; 
    width: 100%; 
    overflow: hidden; 
    text-align: center;
    position:relative;
    border-collapse: collapse;
    
}


article h3 {
    text-align: center; 
    background-color:lightblue; 
    padding: 20px;
    font-family: 'Nanum Gothic Coding', monospace;
}
article { padding: 1px;
          text-align: center; 
          border: solid; 
          border-color: gainsboro; 
          padding: 1px;
          padding: 25px;
          font-family: 'Nanum Gothic Coding', monospace;;
}

article img {
    display: flex;
    justify-content: center;  
    width: 200px; 
    height: 100px; 
}

footer {
    display: flex;
    align-content: center;
    padding: 50px; 
    overflow: visible; 
    background-color: skyblue
}

main, picture, img {  width:100%;  height: auto;}

.weather-summary img {display: flex;
    justify-content: right; width: 100px; height: auto; }

/* GALLERY */

    
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    
}


