@media only screen and (min-width: 760px) {

 
  .siteTitle {
    font-size: 25px;
  
  }
    
  .subtitle {
    font-size: 20px;
  }  

  .topnav {
    font-size: 25px;
  }
    
  figure img {
        max-height: 20vw;
    }
 
    
    .grid-gallery {
        grid-template-columns: 1fr 1fr;
    }
    
}
  }